extends common/layout

block content
  a(href="/listings/add") Add Listing

  ul.listings
    each listing in rentals
      li.listings__item
        h3.listings__title= listing.title
        p.listings__description= listing.description
        p.listings__price Price: #{listing.price}
        p.listings__location Location: #{listing.location}
        div
          a(href=`/listings/edit/${listing._id}`) Edit Listing
        div
          a.listings__delete-btn(href=`/listings/delete/${listing._id}`) Delete Listing

